In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import os
import sys
from os.path import dirname
import pickle
import pandas as pd
import glob
import shapely
from shapely import geometry,ops
import numpy as np
import matplotlib.cm as cm
import seaborn
import datetime
import pyproj
newman_df = pickle.load(open('./newman_df.p','rb'))

In [5]:
# get paths to streamflow data for each Newman basin
folders = os.listdir('./usgs_streamflow')
fh = []
fh = [folders[i] for i in range(len(folders)) if len(folders[i])==2]

flow_files = []
for f in fh: 
    try:
        
        flow_files.append(glob.glob('./usgs_streamflow/' + f + '/*.txt'))
    except RuntimeError:
        print 'Cannot find streamflow file.'
        
flow_files = [item for sublist in flow_files for item in sublist]

In [6]:
dates = []
for fh in flow_files:
    gageid = flow_files[1].split('/')[-1][:8]
    weather = pickle.load( open('./daymet_newman/'+gageid+'_daymet.p', 'rb') )
    d = pd.read_csv(fh, delim_whitespace=True, header=-1)
    d.columns = ['gagenum', 'Year', 'Month', 'Day', 'q', 'e']
#     d['date'] = d[['Year', 'Month', 'Day']].apply(lambda s : datetime.datetime(*s),axis = 1)
#     d = d[['q', 'date']]
#     d.set_index('date', inplace=True)
#     d['date'] = d.index
    
#     d['q'] = d['q']*2.44e12   # convert to mm^3/day
#     area_sqkm = soil_properties_by_gagenum['WsAreaSqKm'].loc[gagenum]
#     area_mm = area_sqkm*1000000000000
#     d['q'] = d['q']/area_mm

In [7]:
d

       gagenum  Year  Month  Day       q  e
0      3604000  1980      1    1   926.0  A
1      3604000  1980      1    2   865.0  A
2      3604000  1980      1    3   806.0  A
3      3604000  1980      1    4   846.0  A
4      3604000  1980      1    5   888.0  A
5      3604000  1980      1    6   830.0  A
6      3604000  1980      1    7   861.0  A
7      3604000  1980      1    8  1060.0  A
8      3604000  1980      1    9  1080.0  A
9      3604000  1980      1   10   994.0  A
10     3604000  1980      1   11  1020.0  A
11     3604000  1980      1   12  1230.0  A
12     3604000  1980      1   13  1230.0  A
13     3604000  1980      1   14  1100.0  A
14     3604000  1980      1   15  1010.0  A
15     3604000  1980      1   16   952.0  A
16     3604000  1980      1   17   974.0  A
17     3604000  1980      1   18  1020.0  A
18     3604000  1980      1   19  1220.0  A
19     3604000  1980      1   20  1080.0  A
20     3604000  1980      1   21   992.0  A
21     3604000  1980      1   22  1090.0  A
22     3604000  1980      1   23  2110.0  A
23     3604000  1980      1   24  1910.0  A
24     3604000  1980      1   25  1520.0  A
25     3604000  1980      1   26  1260.0  A
26     3604000  1980      1   27  1070.0  A
27     3604000  1980      1   28   957.0  A
28     3604000  1980      1   29   875.0  A
29     3604000  1980      1   30   829.0  A
...        ...   ...    ...  ...     ... ..
12754  3604000  2014     12    2   539.0  A
12755  3604000  2014     12    3   919.0  A
12756  3604000  2014     12    4   853.0  A
12757  3604000  2014     12    5   799.0  A
12758  3604000  2014     12    6  3100.0  A
12759  3604000  2014     12    7  2950.0  A
12760  3604000  2014     12    8  1690.0  A
12761  3604000  2014     12    9  1250.0  A
12762  3604000  2014     12   10   991.0  A
12763  3604000  2014     12   11   832.0  A
12764  3604000  2014     12   12   721.0  A
12765  3604000  2014     12   13   640.0  A
12766  3604000  2014     12   14   582.0  A
12767  3604000  2014     12   15   541.0  A
12768  3604000  2014     12   16   512.0  A
12769  3604000  2014     12   17   479.0  A
12770  3604000  2014     12   18  -999.0  M
12771  3604000  2014     12   19  -999.0  M
12772  3604000  2014     12   20  -999.0  M
12773  3604000  2014     12   21  -999.0  M
12774  3604000  2014     12   22  -999.0  M
12775  3604000  2014     12   23  -999.0  M
12776  3604000  2014     12   24  -999.0  M
12777  3604000  2014     12   25  -999.0  M
12778  3604000  2014     12   26  -999.0  M
12779  3604000  2014     12   27  -999.0  M
12780  3604000  2014     12   28  -999.0  M
12781  3604000  2014     12   29  -999.0  M
12782  3604000  2014     12   30  -999.0  M
12783  3604000  2014     12   31  -999.0  M

[12784 rows x 6 columns]